name: Lint project
permissions:
  contents: read

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.2.0
      - name: Set Node.js
        uses: actions/setup-node@v5.0.0
        with:
          cache: 'pnpm'
          node-version: 20.x
      - run: pnpm install
      - run: pnpm build
      - run: pnpm lint
      - run: pnpm prettier
