name: Lint project

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3.0.0
      - name: Set Node.js
        uses: actions/setup-node@v4.0.2
        with:
          cache: 'pnpm'
          node-version: 20.x
      - run: pnpm install
      - run: pnpm build
      - run: pnpm lint
      - run: pnpm prettier
