name: Test action

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3.0.0
      - name: Set Node.js
        uses: actions/setup-node@v4.0.2
        with:
          cache: 'pnpm'
          node-version: 20.x
      - run: pnpm install
      - run: pnpm build
      - run: pnpm lint
  test_action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install CLI
        uses: ./
        with:
          version: latest
        env:
          RUNNER_DEBUG: 1
      - name: Find CLI
        run: ls -lR $RUNNER_TOOL_CACHE/scw
      - name: Use CLI
        run: scw info
  test_action_usage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use CLI
        id: cli
        uses: ./
        with:
          args: instance server-type list
          version: v2.24.0
          access-key: ${{ secrets.SCW_ACCESS_KEY }}
          secret-key: ${{ secrets.SCW_SECRET_KEY }}
          default-project-id: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
          default-organization-id: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}
      - name: Check output
        run: |
          [ "$( echo '${{ steps.cli.outputs.json }}' | jq -r 'type')" = "array" ]
      - name: Use CLI manually
        id: cli_manual
        run: echo "json=$(scw -o json instance server-type list)" >> $GITHUB_OUTPUT
        env:
          SCW_ACCESS_KEY: ${{ secrets.SCW_ACCESS_KEY }}
          SCW_SECRET_KEY: ${{ secrets.SCW_SECRET_KEY }}
          SCW_DEFAULT_PROJECT_ID: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
          SCW_DEFAULT_ORGANIZATION_ID: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}
      - name: Check output
        run: |
          [ "$( echo '${{ steps.cli_manual.outputs.json }}' | jq -r 'type')" = "array" ]
  test_action_export_config:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install CLI and export config
        uses: ./
        with:
          export-config: true
          version: v2.24.0
          access-key: ${{ secrets.SCW_ACCESS_KEY }}
          secret-key: ${{ secrets.SCW_SECRET_KEY }}
          default-project-id: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
          default-organization-id: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}
      - name: Use CLI with exported config
        uses: ./
        id: cli
        with:
          args: instance server-type list
      - name: Check output
        run: |
          [ "$( echo '${{ steps.cli.outputs.json }}' | jq -r 'type')" = "array" ]
      - name: Use CLI manually with exported config
        id: cli_manual
        run: echo "json=$(scw -o json instance server-type list)" >> $GITHUB_OUTPUT
      - name: Check output
        run: |
          [ "$( echo '${{ steps.cli_manual.outputs.json }}' | jq -r 'type')" = "array" ]
      - name: Export again
        uses: ./
        with:
          export-config: true
          version: v2.24.0
          access-key: ${{ secrets.SCW_ACCESS_KEY }}
          secret-key: ${{ secrets.SCW_SECRET_KEY }}
          default-project-id: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
          default-organization-id: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}
  test_action_save_config:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install CLI and save config
        uses: ./
        with:
          save-config: true
          version: v2.24.0
          access-key: ${{ secrets.SCW_ACCESS_KEY }}
          secret-key: ${{ secrets.SCW_SECRET_KEY }}
          default-project-id: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
          default-organization-id: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}
      - name: Use CLI manually with saved config
        id: cli_manual
        run: echo "json=$(scw -o json instance server-type list)" >> $GITHUB_OUTPUT
      - name: Check output
        run: |
          [ "$( echo '${{ steps.cli_manual.outputs.json }}' | jq -r 'type')" = "array" ]
      - name: Check CLI config
        uses: ./
        with:
          version: v2.24.0
          args: config info
        env:
          RUNNER_DEBUG: true
      - name: Use CLI with saved config
        uses: ./
        id: cli
        with:
          version: v2.24.0
          args: instance server-type list
      - name: Check output
        run: |
          [ "$( echo '${{ steps.cli.outputs.json }}' | jq -r 'type')" = "array" ]
      - name: Save again
        uses: ./
        with:
          save-config: true
          version: v2.24.0
          access-key: ${{ secrets.SCW_ACCESS_KEY }}
          secret-key: ${{ secrets.SCW_SECRET_KEY }}
          default-project-id: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
          default-organization-id: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}
